#                                        CHILDREN IN FOSTER CARE

In [13]:
import pandas as pd
import numpy as np

In [22]:
location = "documents/Children in Foster Care.xlsx"
df = pd.read_excel(location) #overwrites the info from the df variable in the examples above
df.head()

  LocationType       Location  TimeFrame DataFormat    Data
0       Nation  United States       2000     Number  544303
1       Nation  United States       2001     Number  544614
2       Nation  United States       2002     Number  532717
3       Nation  United States       2003     Number  519482
4       Nation  United States       2004     Number  507419

In [15]:
df. shape

(955, 5)

In [16]:
df. columns

Index(['LocationType', 'Location', 'TimeFrame', 'DataFormat', 'Data'], dtype='object')

In [17]:
df. describe

<bound method NDFrame.describe of     LocationType              Location  TimeFrame DataFormat    Data
0         Nation         United States       2000     Number  544303
1         Nation         United States       2001     Number  544614
2         Nation         United States       2002     Number  532717
3         Nation         United States       2003     Number  519482
4         Nation         United States       2004     Number  507419
5         Nation         United States       2005     Number  511318
6         Nation         United States       2006     Number  510885
7         Nation         United States       2007     Number  486619
8         Nation         United States       2008     Number  459828
9         Nation         United States       2013     Number  402172
10        Nation         United States       2009     Number  423773
11        Nation         United States       2015     Number  427901
12        Nation         United States       2010     Number  408425
13        Nation         United States       2011     Number  397885
14        Nation         United States       2012     Number  397091
15        Nation         United States       2014     Number  415129
16        Nation         United States       2016     Number  437465
17        Nation         United States       2017     Number  442995
18         State               Alabama       2017     Number    5631
19         State               Alabama       2014     Number    4556
20         State               Alabama       2016     Number    5053
21         State               Alabama       2012     Number    4561
22         State               Alabama       2011     Number    5253
23         State               Alabama       2010     Number    5350
24         State               Alabama       2015     Number    4745
25         State               Alabama       2009     Number    6894
26         State               Alabama       2013     Number    4532
27         State               Alabama       2007     Number    7097
28         State               Alabama       2008     Number    6876
29         State               Alabama       2006     Number    7157
..           ...                   ...        ...        ...     ...
925         City  District of Columbia       2013     Number    1311
926         City  District of Columbia       2009     Number    2111
927         City  District of Columbia       2007     Number    2148
928         City  District of Columbia       2008     Number    2217
929         City  District of Columbia       2006     Number    2368
930         City  District of Columbia       2004     Number    2608
931         City  District of Columbia       2005     Number    2519
932         City  District of Columbia       2003     Number    3092
933         City  District of Columbia       2001     Number    3339
934         City  District of Columbia       2002     Number    3321
935         City  District of Columbia       2000     Number    3054
936    Territory           Puerto Rico       2000     Number    N.A.
937    Territory           Puerto Rico       2001     Number    8476
938    Territory           Puerto Rico       2003     Number    7585
939    Territory           Puerto Rico       2002     Number    8179
940    Territory           Puerto Rico       2005     Number    6786
941    Territory           Puerto Rico       2004     Number    7663
942    Territory           Puerto Rico       2007     Number    6330
943    Territory           Puerto Rico       2006     Number    6661
944    Territory           Puerto Rico       2009     Number    5351
945    Territory           Puerto Rico       2010     Number    4476
946    Territory           Puerto Rico       2008     Number    6185
947    Territory           Puerto Rico       2013     Number    4197
948    Territory           Puerto Rico       2015     Number    4189
949    Territory           Puerto Rico       2011     Number    4363
950    Territory           Puerto Rico       2012     Number    4310
951    Territory           Puerto Rico       2014     Number    3696
952    Territory           Puerto Rico       2017     Number    4539
953    Territory           Puerto Rico       2016     Number    4264
954    Territory        Virgin Islands       2011     Number    N.A.

[955 rows x 5 columns]>

In [18]:
dupe = df.duplicated() #creates list of True/False values
df[dupe] #shows rows where duplicated is True

Empty DataFrame
Columns: [LocationType, Location, TimeFrame, DataFormat, Data]
Index: []

In [21]:
df = pd.DataFrame(columns=['Location Type','Location', 'TimeFrame','DataFormat','Data'])
df.to_csv('Children in Foster Care.csv',index=False,header=False)
df

Empty DataFrame
Columns: [Location Type, Location, TimeFrame, DataFormat, Data]
Index: []